img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.submenu {
    position: relative;
    z-index: 999;
}

.submenu img {
    display: flex;
    justify-content:left;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 999;
    background-color: #32293876;
    padding: 20px;
    min-width: 600px;
}

table {
    width: 100%;
}

th,
td {
    color: #FFFFFF;
}

.borrar {
    background-color: #9BCE21;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}


/* PRODUCTOS */

.products {
    padding: 0 0 50px 0;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 2px solid #9BCE21;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #F6FAFB;
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9),
.box:nth-child(10),
.box:nth-child(11),
.box:nth-child(12) {

    display: inline-block;
}

.box img {
    height: 150px;
}

.product-txt h3 {
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 25px;
    color: #515557;
}

.precio {
    font-size: 17px;
    font-weight: 700;
    color: #FF9100;
}

.btn-2,
.btn-3 {
    background-color: #9BCE21;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover,
.btn-3:hover {
    background-color: #13462E;

}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

/*OFERTAS */
.oferts {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b1 {
    background-color: #91DDD8;
}

.b2 {
    background-color: #FA9824;
}

.b3 {
    background-color: #9BCE21;
}

.ofert-txt {
    color: #FFFFFF;
    font-size: 20px;
}

.ofert-txt a {
    color: #FFFFFF;
}

.ofert-img {
    flex-basis: 50%;
}

/* Testimoniales */
.testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1 {
    flex-basis: calc(50% -20px);
    padding: 50px;
    text-align: left;
    background-color: #F6FAFB;
    border-top: 5px solid #9BCE21;
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 h4 {
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p {
    color: #515557;
    margin-bottom: 25px;
}

@media (max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF9000;
        display: none;

    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #FFFFFF;
    }

    .submenu #carrito {
        width: 100%;
    }

    .header {
        padding: 50px 0 0 0;
    }

    .header-content {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-right: 0;
    }

    .butons {
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }

    .header-img {
        display: none;
    }

    .oferts {
        padding: 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 15px;
    }

    .products {
        padding: 0 30px 30px 30px;
    }

    .testimonial {
        padding: 30px;
    }

    .testimonial h2 {
        text-align: center;
        justify-content: center;
    }
    .testimonial-content {
        margin-top: 20px;
        flex-direction: column;
    }

    .testimonial-1 {
        padding: 25px;
        margin-bottom: 25px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}